__pycache__/
*.py[cod]

*.so

results/

venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
webserver.log*
Dumitrache_Adrian-George_334CC_Tema1_ASC.zip
create_archive.sh
