body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  /* margin-top: 2em; */
}
h1 {margin-bottom: 0.6em;}
h2 {margin-bottom: 0.4em;}
h3 {margin-bottom: 0.3em;}

.bg-book {
  background: #824;
}
.vh-100 {
  min-height: 100vh;
}

.alert {
  margin: 0.7em 0;
  padding: 0.5em 1em;
}

header .banner {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: contain;
  background-image: url('/images/catsmas_banner.png');
  height: 100%;
}

header .col.text {
  text-align: center;
  padding: 2rem 2rem;
}

header h1 {
  font-family: sans-serif;
  color: #df52ec;
  font-weight: bold;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #6f0c78;
  text-shadow: 0px 0px 0.4rem #6f0c78;
  font-size: 4.5rem;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}
header h2 {
  font-size: 1.4rem;
  line-height: 1.5em;
  font-style: italic;
  color: #666;
}

footer {
  color: #BBBABB;
}

section.welcome-page {
  background: #f5f5f5;
  border-top: 2px solid #DDD;
}

.welcome-text {
  padding: 3rem 0;
  padding-right: 3rem;
}

.welcome-login {
  padding: 2rem 2rem;
  margin: 2rem 2rem;
  background: #DCEDF5;
  border: 1px solid #CCDDF0;
  border-radius: 0.7rem;
  font-size: 0.9em;
}
.welcome-login h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #721fb7;
}

.signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar .navbar-brand {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0px 0px 4px #581028;
}

.navbar-dark .navbar-nav .nav-link {
  color: #DDDDDD;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFFFFF;
}
.navbar-dark .navbar-nav .logout {
  color: #FFFFCC;
  font-weight: bold;
}

.insidePage {
  background: #e9ebee;
}

.wall .box, .side .box {
  background: #ffffff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
}
.wall .box .header,
.side .box .header {
  padding: 0.6rem 0.8rem;
}
.wall .box .caption,
.side .box .caption {
  font-weight: bold;
}
.box .metadata {
  color: #616770;
}

.wall .box iframe {
  display: block;
  margin: 0 auto;
}
.wall .box .img {
  text-align: center;
}
.wall .box .img img {
  max-width: 80%;
  max-height: 30rem;
}
.wall .box p {
  margin: 0.8rem 0.8rem;
}

.profile-picture {
  float: left;
  width: 80px;
  text-align: center;
  margin-right: 1em;
}
.profile-picture img {
  max-width: 80px;
  max-height: 80px;
}

.side .box {
  padding: 0.8rem;
}

.hidden-flag {
  color: #FEFEFE;
  background: #FFFFFF;
}

.wall .newPost {
  
}

.friends .profile {
  margin: 1rem 0;
}

.friends .caption,
.youmayknow .caption {
  margin-bottom: 1rem;
}

.youmayknow .profile {
  margin-right: 1rem;
  margin-bottom: 1rem; 
  text-align: center;
}
.youmayknow .profile-picture {
  float: none;
  width: 80px;
  text-align: center;
}

.profile-view {
  
}
.profile-view h2 { text-align: center; margin: 2rem 0 1rem 0; }
.profile-view .img img { text-align: center; margin: 1rem 0; }
.profile-view img {
  max-width: 90%;
}

.profile-view .description {
  text-style: italic;
}

.wall .profile-posts {
  margin: 0;
  background: #F5FFFF;
  margin-bottom: 0.8rem;
  padding: 1rem 0;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

/* === User message / chat elements === */

.chat .chat-header {
  padding: 3rem;
}

.chat .chat-header img {
  float: left;
  border-radius: 2rem;
  width: 3rem;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 1em;
}

.chat .chat-history {
  padding: 1.5em;
  border-bottom: 1px solid #444;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 0.5em;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0;
}

.chat .chat-history .message-data {
  margin-bottom: 0.3em;
}

.chat .chat-history .message-data img {
  border-radius: 2rem;
  width: 3rem;
}

.chat .chat-history .message-data-time {
  color: #999999;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 6px;
}

.chat .chat-history .message {
  padding: 0.3em 0.4em;
  line-height: 1.6em;
  font-size: 1em;
  border-radius: 7px;
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #444;
  border-width: 0.3em;
  margin-left: -1em;
}

.chat .chat-history .other-message {
  background: #c203ad;
  color: white;
}

.chat .chat-history .other-message:after {
  bottom: 100%;
  left: 1.5em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #c203ad;
  border-width: 0.3em;
  margin-left: -0.8em;
}

.chat .chat-history .my-message {
  background: #4da2fd;
  color: white;
  text-align: right;
}

.chat .chat-history .my-message:after {
  border-bottom-color: #4da2fd;
  left: 93%;
}

.chat .chat-message {
  padding: 0.6em;
}

